<div class="d-sm-flex">
  <div class="col-md-6">
    <h1>Editing Kudo</h1>
    <%= render 'form', kudo: kudo %>
    <%= link_to 'Show', kudo, class: 'btn btn-dark mt-5 mb-5'  %> |
    <%= link_to 'Back', kudos_path, class: 'btn btn-light mt-5 mb-5'  %>
  </div>
</div>
