<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= @reward.title %> has been delivered!</h1>
  <div>
    <p>Reward details:</p>
    <p><span>Title:</span> <%= @reward.title%></p>
    <p><span>Description:</span> <%= @reward.description%></p>
    <p><span>Price: </span><%= @reward.price%></p>
  </div>
  <p>We hope you'll enjoy it,</p>
  <p>Management team</p>
</body>
</html>
